## Table A5

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('../Data/survey_results.csv')
names=pd.read_csv('../Data/LDA_final_topic_names.csv').New_short.tolist()

## Table A5

In [3]:
pol=df[ ['polarization_'+str(i) for i in range(1,41)]].iloc[2:,:].astype('Int64')
pol=((pol.T-pol.mean(axis=1))/pol.std(axis=1)).T.astype('float')

pers=df[ ['Personal_4_'+str(i) for i in range(1,41)]].iloc[2:,:].astype('Int64')
pers=((pers.T-pers.mean(axis=1))/pers.std(axis=1)).T.astype('float')

summary=np.round(pol.agg(['count', 'mean']),2).T
summary['important']=np.round(pers.mean(),2).T.tolist()
#summary['coef']=coef['x'].to_list()+[0]

summary.index=names
summary.columns=['num_observations', 'mean_polarization', 'mean_important']#, 'coef']
summary.sort_values(by='mean_polarization', ascending=False, inplace=True)

summary

# with pd.option_context("max_colwidth", 1000):
#     print(summary.to_latex(caption='Survey results (standardized)', label='survey', longtable=True))

                          num_observations  mean_polarization  mean_important
Politics                              53.0               0.89           -0.05
Donald Trump                          50.0               0.88            0.11
Elections                             45.0               0.79            0.21
Joe Biden                             43.0               0.78           -0.25
Political Investigations              51.0               0.77           -0.27
Black Lives Matter                    55.0               0.72            0.55
Women's Issues                        43.0               0.69            1.02
Racial Identity                       47.0               0.57            0.83
Judicial System                       61.0               0.57           -0.01
American Military                     49.0               0.46           -0.16
Coronavirus                           42.0               0.45            0.77
Covid Vaccine                         45.0               0.44            0.39
Power and Climate                     52.0               0.38            0.39
Covid Protection                      49.0               0.36            0.45
World News                            41.0               0.34            0.12
Public Health                         36.0               0.33            0.36
Israel                                48.0               0.33           -0.38
Church                                46.0               0.25           -0.32
China, India                          42.0               0.25           -0.34
Business                              47.0               0.20            0.65
Russia                                41.0               0.14           -0.08
Social Media                          42.0               0.08           -0.24
Education                             45.0              -0.04            0.37
Science                               46.0              -0.12           -0.03
Money                                 43.0              -0.18            0.17
Judaism                               50.0              -0.18           -0.70
Family                                39.0              -0.32            0.74
New York City                         42.0              -0.33           -0.73
Feelings                              43.0              -0.34            0.42
Nature                                42.0              -0.45           -0.19
Health Research                       39.0              -0.46           -0.01
Real Estate                           58.0              -0.60           -0.37
Music/Movies                          46.0              -0.62            0.29
Books                                 47.0              -0.82           -0.25
Sports                                58.0              -0.90           -0.03
Horse Racing                          44.0              -0.93           -1.10
Art, Planes                           46.0              -0.95           -0.80
Food                                  42.0              -1.00            0.21
Architecture                          50.0              -1.26           -0.84
Pets and Animals                      52.0              -1.27           -0.33

## Other Survey Results and Demographics

In [4]:
df.loc[2:,['Duration (in seconds)', 'Personal_1', 'Personal_7']].astype('Int64').describe()

       Duration (in seconds)  Personal_1  Personal_7
count                  193.0       193.0       193.0
mean              272.823834   20.751295    2.953368
std                466.03858    1.955311    1.292165
min                     54.0        18.0         1.0
25%                    102.0        20.0         2.0
50%                    125.0        20.0         3.0
75%                    171.0        21.0         4.0
max                   2954.0        31.0         5.0

### 2

In [5]:
df.iloc[2:,:].Personal_2.value_counts()

Personal_2
1    100
2     92
3      1
Name: count, dtype: int64

### 3

In [6]:
df.iloc[2:,:].Personal_3.value_counts()

Personal_3
2    107
3     68
1     18
Name: count, dtype: int64

### 5
In the last 12 months, how often have you visited news websites and/or read newspapers?

In [7]:
df.iloc[2:,:].Personal_5.value_counts().sort_index()

Personal_5
1    29
2    40
3    69
4    39
5    16
Name: count, dtype: int64

### 6
Choose the top three news sources you typically read or follow

In [8]:
df.iloc[2:,:].Personal_6.str.split(',').str.len().mean()

3.0362694300518136

In [9]:
pd.Series(np.concatenate(df.iloc[2:,:].Personal_6.str.split(',').tolist())
         ).astype('Int64').value_counts().sort_index()/193

1     0.751295
2     0.362694
3     0.088083
4     0.709845
5     0.196891
6     0.093264
7     0.160622
8     0.316062
9     0.082902
10    0.274611
Name: count, dtype: Float64

### 7
If you read a news article that you find interesting, how likely are you to share it with others?

In [10]:
df.iloc[2:,:].Personal_7.value_counts().sort_index()/193

Personal_7
1    0.165803
2    0.264249
3    0.113990
4    0.362694
5    0.093264
Name: count, dtype: float64

### 8
If you do share it, what medium are you likely to use:

In [11]:
df.iloc[2:,:].Personal_8.str.split(',').str.len().mean()

1.4974093264248705

In [12]:
pd.Series(np.concatenate(df.iloc[2:,:].Personal_8.str.split(',').tolist())).value_counts().sort_index()/193

1    0.139896
2    0.056995
3    0.056995
4    0.383420
5    0.772021
6    0.088083
Name: count, dtype: float64

### 8
Restricted to likely in 7

In [13]:
df[df.Personal_7.isin(['5', '4'])].Personal_8.str.split(',').str.len().mean()

1.6363636363636365

In [14]:
pd.Series(np.concatenate(df[df.Personal_7.isin(['5', '4'])].Personal_8.str.split(',').tolist())).value_counts().sort_index()/88

1    0.170455
2    0.079545
3    0.079545
4    0.477273
5    0.818182
6    0.011364
Name: count, dtype: float64

### 4

In [15]:
both=pd.concat([df[ ['polarization_'+str(i) for i in range(1,41)]].iloc[2:,:].astype('Int64').melt().rename(
    columns={'value':'polarization'}),
         df[ ['Personal_4_'+str(i) for i in range(1,41)]].iloc[2:,:].astype('Int64').melt().rename(
    columns={'value':'importance'})], axis=1)[['polarization', 'importance']]
both=both[~both.isna().any(axis=1)]
both.astype('Int64').corr()

              polarization  importance
polarization      1.000000    0.237064
importance        0.237064    1.000000

In [16]:
both=pd.concat([pol.melt().rename(columns={'value':'polarization'}),
         pers.melt().rename(columns={'value':'importance'})], axis=1)[['polarization', 'importance']]
both=both[~both.isna().any(axis=1)]
both.astype(int).corr()

              polarization  importance
polarization      1.000000    0.178701
importance        0.178701    1.000000