In [1]:
import openai
import pandas as pd
import numpy as np
import re
import json
import time
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
openai.api_key = "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"

## Prepare text

In [20]:
names=pd.read_csv('../Data/LDA_final_topic_names.csv')#.New_short.tolist()

text=pd.read_csv('../Data/articles_text.csv')
text=text[~text.full_text.isna()]

#Remove NYTimes signature
def remove_last_paragraph(text):
    paragraphs = text.split('\n')
    if "Times" in paragraphs[-1]:
        paragraphs = paragraphs[:-1]
    return '\n'.join(paragraphs)

#get short version
def shorten(text, ln=3000): #where to cut
    if len(text.split())>ln:
        text=[x.strip() for x in text.split('\n') if len(x.strip())>0]
        text[0]=' '+text[0]
        #sample=''
        i=len(text)
        sample='\n '.join(text[:i])
        while len(sample.split())>ln:
            if i==0:
                sample=text[0]
                break
            sample='\n '.join(text[:i])
            i-=1
    else:
        sample=text         
    return sample

#get short version
def gen_sample_text(text, ln=2000): #where to cut
    text=[x.strip() for x in text.split('\n') if len(x.strip())>0]
    text[0]=' '+text[0]
    sample=''
    i=1
    while len(sample)<ln:
        sample='\n '.join(text[:i])
        if i==len(text):
            break
        i+=1
    return sample

def shorten_sample(text):
    return shorten(text, ln=1000)

text['full_text'] = text['full_text'].apply(remove_last_paragraph)
text['full_text'] = text['full_text'].apply(shorten)
#text['sample_text']=text.full_text.apply(gen_sample_text)
text['sample_text']=text.full_text.apply(shorten_sample)
text.head()

,id,link,full_text,sample_text
0,0,https://www.nytimes.com/2019/03/07/opinion/eur...,In the recent rush of proposals to tax the ric...,In the recent rush of proposals to tax the ri...
1,1,https://www.nytimes.com/2019/08/27/health/sack...,The Sackler family would give up ownership of ...,The Sackler family would give up ownership of ...
2,2,https://www.nytimes.com/2020/02/07/arts/design...,“The Scream” is fading. And tiny samples of pa...,“The Scream” is fading. And tiny samples of p...
3,3,https://www.nytimes.com/2021/02/15/well/family...,“Charlie and the Chocolate Factory” was publis...,“Charlie and the Chocolate Factory” was publi...
4,4,https://www.nytimes.com/2021/04/03/opinion/chr...,"As a person of the Christian faith, I’ve long ...","As a person of the Christian faith, I’ve long..."

# Prepare subsample to test (100)

In [21]:
all_articles=pd.read_csv('../../Data/Articles_data/articles_data.csv')
panel=pd.read_csv('../../Data/new_dataset_20_05.csv').loc[:, ['date_id', 'id', 'actual_date',
                                       'rank_facebook', 'rank_emailed', 'emailed', 'facebook']]

ids=sorted(panel[panel.actual_date<'2019-07-01'].id.unique().tolist())
subsample=text[text.id.isin(ids)].copy()
subsample['gpt_response']=['']*subsample.shape[0]
subsample['gpt_response_full']=['']*subsample.shape[0]
#subsample[1:100].to_csv('../../Data/Gpt/polarization_for_subsample.csv', index=False)
#subsample.head()

/var/folders/_p/46_4dycn3bx7kbvft67tt6tw0000gn/T/ipykernel_33598/3727838149.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  panel=pd.read_csv('../../Data/new_dataset_20_05.csv').loc[:, ['date_id', 'id', 'actual_date',

In [22]:
subsample=pd.read_csv('../../Data/Gpt/polarization_for_subsample.csv')
subsample.tail()

,id,link,full_text,sample_text,gpt_response,gpt_response_full,gpt_number,gpt_number_full
94,717,https://www.nytimes.com/2019/06/11/arts/design...,"SEA RANCH, Calif. — It was an era of now unima...","SEA RANCH, Calif. — It was an era of now unim...","Based on the provided paragraphs, I would rate...",I would rate this article as a 2 on the polari...,2.0,2.0
95,718,https://www.nytimes.com/2019/03/12/dining/larg...,Rebecca Alexander’s worst experience dining wh...,Rebecca Alexander’s worst experience dining w...,I would rate this article as a 2 on the polari...,I would rate this article as a 3 on the polari...,2.0,3.0
96,719,https://www.nytimes.com/2019/02/15/us/politics...,WASHINGTON — President Trump declared a nation...,WASHINGTON — President Trump declared a natio...,"Based on the provided paragraphs, I would rate...",I would rate this article as a 4 on the polari...,3.5,4.0
97,720,https://www.nytimes.com/2019/04/08/dining/gold...,WASHINGTON — Jason Gold was in a tizzy. He was...,WASHINGTON — Jason Gold was in a tizzy. He was...,"Based on the provided paragraphs, I would rate...","Based on the provided text, I would rate the p...",1.0,1.0
98,724,https://www.nytimes.com/2019/03/08/us/politics...,WASHINGTON — A federal judge has ruled that Ed...,WASHINGTON — A federal judge has ruled that Ed...,I would rate this article as a 3 on the polari...,I would rate this article as a 3 on the polari...,3.0,3.0

## Chat

In [23]:
def get_gpt_response(messages, temp=1):
    response=openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=temp,
        n=2
    )
    return response['choices'][0]['message']['content']

def get_gpt_response_multiple(messages, N, temp=1):
    response=openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=temp,
        n=N
    )
    return response['choices']#[0]['message']['content']

### Sample text version

In [54]:
def get_gpt_score_for_article_short(art_text):

    prompt="""I will provide you with a few paragraphs from a news article.
    Please rate from 1 to 5 how polarizing this article is.""".replace('\n',' ')
    #If you cannot provide a rating, chose -1
    
    answer="""Sure, please provide the paragraphs and I'll do my best to rate the polarization level of
    each news article based on a scale from 1 to 5, where 1 means not
    polarizing at all, and 5 indicates a highly polarizing topic.""".replace('\n',' ')


    messages = [{"role": "user", "content": prompt},
                {"role": "assistant", "content": answer}, 
                {"role": "user", "content": art_text}]

    result = get_gpt_response(messages, temp=0)
    
    return result

### Full text version

In [55]:
def get_gpt_score_for_article(art_text):

    prompt="""I will provide you with a text from a news article.
    Please rate from 1 to 5 how polarizing this article is.""".replace('\n',' ')
    #Please structure your answer as follows: first provide only a number, then provide a full response
    #If you cannot provide a rating, chose -1
    
    answer="""Sure, please provide the text of a news article and 
    I'll do my best to rate the polarization level of
    each news article based on a scale from 1 to 5, where 1 means not
    polarizing at all, and 5 indicates a highly polarizing topic.""".replace('\n',' ')


    messages = [{"role": "user", "content": prompt},
                {"role": "assistant", "content": answer}, 
                {"role": "user", "content": art_text}]

    result = get_gpt_response(messages, temp=0)
    
    return result

### Try

In [19]:
text_prompt=text.full_text[2]
result=get_gpt_score_for_article(text_prompt)
print(result)

I would rate this article as a 2 on the polarization scale. The article primarily focuses on scientific research and conservation efforts related to the fading of famous artworks, specifically "The Scream" by Edvard Munch. It does not touch upon controversial or divisive topics that could generate strong opposing opinions.

### Score of neutral article

In [20]:
prompt="""I will provide you with a text from a news article.
Please rate from 1 to 5 how polarizing this article is.""".replace('\n',' ')
#If you cannot provide a rating, chose -1

answer="""Sure, please provide the text of a news article and 
I'll do my best to rate the polarization level of
each news article based on a scale from 1 to 5, where 1 means not
polarizing at all, and 5 indicates a highly polarizing topic.""".replace('\n',' ')


messages = [{"role": "user", "content": prompt},
            {"role": "assistant", "content": answer}, 
            {"role": "user", "content": text_prompt}, 
            {"role": "assistant", "content": result},
            {"role": "user", "content": "What would be a score for neutral article?"}]

result = get_gpt_response(messages, temp=0)
result

'A neutral article would typically receive a score of 1 on the polarization scale. A neutral article presents information in an unbiased manner, without taking a stance or promoting any particular viewpoint. It aims to provide objective facts and avoid controversial or divisive topics.'

## Test Run GPT

In [ ]:
subsample=pd.read_csv('../../Data/Gpt/polarization_for_subsample.csv')
i=0
for index, row in subsample.iloc[:100, :].iterrows():
    subsample.loc[index, 'gpt_response']=get_gpt_score_for_article_short(row.sample_text)
    time.sleep(1)
    subsample.loc[index, 'gpt_response_full']=get_gpt_score_for_article(row.full_text)
    time.sleep(1)
    i+=1
    if i%10==0:
        print(i)
        subsample.to_csv('../../Data/Gpt/polarization_for_subsample.csv', index=False)
subsample.to_csv('../../Data/Gpt/polarization_for_subsample.csv', index=False)

In [3]:
def extract_all_numbers(text):
    all_numbers = re.findall(r"[-+]?(?:\d*\.*\d+)", text)    #r'\d+'
    if len(all_numbers)==1:
        number=float(all_numbers[0])
    elif len(all_numbers)==2 and all_numbers[1]=='5':   # for 3/5
        number=float(all_numbers[0])
    else:
        exp_1='[-+]?(?:\d*\.*\d+ out of 5)' #'[^\d]*(\d*\+? out of 5)'
        exp_2='[-+]?(?:\d*\.*\d+ on the polarization scale)'
        exp_3='polarization level of this article as a [-+]?(?:\d*\.*\d+)'
        all_numbers1=re.findall(exp_1, text)
        all_numbers2=re.findall(exp_2, text)
        all_numbers3=re.findall(exp_3, text)
        if len(all_numbers1)==1:
            number=float(all_numbers1[0].split()[0])
        elif len(all_numbers2)==1:
            number=float(all_numbers2[0].split()[0])
        elif len(all_numbers3)==1:
            number=float(all_numbers3[0].split()[-1])
        else:
            number=-1 #error code       
    return number

In [ ]:
subsample=pd.read_csv('../../Data/Gpt/polarization_for_subsample.csv')
subsample['gpt_number']=subsample['gpt_response'].apply(extract_all_numbers)
subsample['gpt_number_full']=subsample['gpt_response_full'].apply(extract_all_numbers)
subsample.head()

In [ ]:
subsample[(subsample.gpt_number_full==-1) | (subsample.gpt_number==-1)]

In [89]:
subsample[~((subsample.gpt_number_full==-1) | (subsample.gpt_number==-1))].loc[:, 
            ['gpt_number', 'gpt_number_full']].corr()

                 gpt_number  gpt_number_full
gpt_number         1.000000         0.878517
gpt_number_full    0.878517         1.000000

In [90]:
subsample.to_csv('../../Data/Gpt/polarization_for_subsample.csv', index=False)

## Make small datafile for analysis

In [113]:
#ignore -1, replace with 1
ind=subsample[subsample.gpt_number==-1].index.tolist()
subsample.loc[ind, 'gpt_number']=1

In [115]:
ids=subsample.id.tolist()

In [116]:
all_articles=pd.read_csv('../../Data/Articles_data/articles_data.csv')
articles_sample=all_articles[all_articles.id.isin(ids)].copy()
articles_sample = pd.merge(articles_sample, subsample.loc[:, ['id', 'gpt_number']], on="id", how="left")
articles_sample.to_csv('../../Data/Gpt/articles_data_gpt_subsample.csv', index=False)

In [117]:
articles_prep=pd.read_csv('../../Data/Articles_data/articles_data_preprocessed.csv')
articles_prep_sample=articles_prep[articles_prep.id.isin(ids)].copy()
articles_prep_sample = pd.merge(articles_prep_sample, subsample.loc[:, ['id', 'gpt_number']], on="id", how="left")
articles_prep_sample.to_csv('../../Data/Gpt/articles_prep_gpt_subsample.csv', index=False)

/var/folders/_p/46_4dycn3bx7kbvft67tt6tw0000gn/T/ipykernel_49133/2733918937.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  articles_prep=pd.read_csv('../../Data/Articles_data/articles_data_preprocessed.csv')

In [118]:
panel=pd.read_csv('../../Data/new_dataset_20_05.csv')
panel_sample=panel[panel.id.isin(ids)].copy()
panel_sample = pd.merge(panel_sample, subsample.loc[:, ['id', 'gpt_number']], on="id", how="left")
panel_sample.to_csv('../../Data/Gpt/panel_gpt_subsample.csv', index=False)
panel_sample.head()

/var/folders/_p/46_4dycn3bx7kbvft67tt6tw0000gn/T/ipykernel_49133/2483985491.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  panel=pd.read_csv('../../Data/new_dataset_20_05.csv')

,date_id,id,rank_emailed,rank_facebook,actual_date,print_section,print_page,pub_date,document_type,news_desk,...,LIWC_death,LIWC_informal,LIWC_swear,LIWC_netspeak,LIWC_assent,LIWC_nonflu,LIWC_filler,LIWC_AllPunc,t_after_release,gpt_number
0,1,158,7.0,0.0,2019-01-01,D,1.0,2018-12-31,article,Science,...,0.62,0.18,0.0,0.15,0.04,0.04,0.0,18.00,1,4
1,1,343,0.0,12.0,2019-01-01,A,20.0,2018-12-30,article,Express,...,0.64,0.21,0.0,0.00,0.21,0.00,0.0,21.03,2,2
2,1,739,20.0,0.0,2019-01-01,SR,1.0,2018-12-28,article,OpEd,...,0.09,0.26,0.0,0.00,0.18,0.09,0.0,14.76,4,3
3,1,795,1.0,0.0,2019-01-01,D,5.0,2018-12-31,article,Science,...,0.00,0.33,0.0,0.17,0.08,0.17,0.0,15.56,1,3
4,1,994,0.0,15.0,2019-01-01,F,2.0,2018-12-28,multimedia,Opinion,...,0.60,0.00,0.0,0.00,0.00,0.00,0.0,11.70,4,3

# Final Run

In [41]:
ids=sorted(panel.id.unique().tolist())
df_polar=text[text.id.isin(ids)].copy()
df_polar.shape
df_polar['gpt_response']=['']*df_polar.shape[0]

df_polar_fh=pd.read_csv('../../Data/Gpt/polarization_2019.csv')
df_polar.set_index('id', inplace=True, drop=False)
df_polar_fh.set_index('id', inplace=True, drop=False)
df_polar.update(df_polar_fh[['id', 'gpt_response']])
#df_polar = df_polar.merge(df_polar_fh[['id', 'gpt_response']], on='id', how='left')
df_polar.head()
#df_polar[df_polar.gpt_response=='']
#df_polar.to_csv('../../Data/Gpt/polarization_everything.csv', index=False)

In [46]:
#df_polar=pd.read_csv('../../Data/Gpt/polarization_2019.csv')
df_polar=pd.read_csv('../../Data/Gpt/polarization_everything.csv')
df_polar.head()
df_polar[~df_polar.gpt_response.isna()].shape

(4402, 5)

## Run

In [108]:
#df_polar=pd.read_csv('../../Data/Gpt/polarization_2019.csv')

i=1
for index, row in df_polar.iloc[:20, :].iterrows():
    if pd.isna(df_polar.loc[index, 'gpt_response']):
        try:
            df_polar.loc[index, 'gpt_response']=get_gpt_score_for_article(row.sample_text)
            #get_gpt_score_for_article(row.full_text)
            time.sleep(1)
            i+=1
        except:
            print('sth wrong for id', index)
    if i%10==0:
        print(i)
        df_polar.to_csv('../../Data/Gpt/polarization_2019.csv', index=False)
df_polar.to_csv('../../Data/Gpt/polarization_2019.csv', index=False)

In [48]:
df_polar[df_polar.gpt_response.isna()].shape

(0, 5)

In [49]:
df_polar=pd.read_csv('../../Data/Gpt/polarization_everything.csv')
df_polar['gpt_number']=df_polar['gpt_response'].apply(extract_all_numbers)
df_polar.loc[2612, 'gpt_number']=3.5
print(df_polar[df_polar.gpt_number==-1].shape)
df_polar.gpt_number.replace(-1,1, inplace=True)
print(df_polar[df_polar.gpt_number==-1].shape)
df_polar.gpt_number=(df_polar.gpt_number-df_polar.gpt_number.mean())/(df_polar.gpt_number.std())
##A few manual:
#df_polar.loc[3078, 'gpt_number']=4.0
#df_polar.loc[4237, 'gpt_number']=3.5


#df_polar.to_csv('../../Data/Gpt/polarization_everything.csv', index=False)
##df_polar.to_csv('../../Data/Gpt/polarization_2019.csv', index=False)
df_polar.head(20)

(42, 6)
(0, 6)

,id,link,full_text,sample_text,gpt_response,gpt_number
0,0.0,https://www.nytimes.com/2019/03/07/opinion/eur...,In the recent rush of proposals to tax the ric...,In the recent rush of proposals to tax the ri...,"Based on the provided text, I would rate the p...",1.113960
1,1.0,https://www.nytimes.com/2019/08/27/health/sack...,The Sackler family would give up ownership of ...,The Sackler family would give up ownership of ...,I would rate this article as a 2 on the polari...,-0.290707
2,2.0,https://www.nytimes.com/2020/02/07/arts/design...,“The Scream” is fading. And tiny samples of pa...,“The Scream” is fading. And tiny samples of p...,I would rate this article as a 2 on the polari...,-0.290707
3,3.0,https://www.nytimes.com/2021/02/15/well/family...,“Charlie and the Chocolate Factory” was publis...,“Charlie and the Chocolate Factory” was publi...,"Based on the provided text, I would rate the p...",-1.227152
4,4.0,https://www.nytimes.com/2021/04/03/opinion/chr...,"As a person of the Christian faith, I’ve long ...","As a person of the Christian faith, I’ve long...","Based on the provided text, I would rate the p...",-1.227152
5,5.0,https://www.nytimes.com/2019/10/28/health/cris...,"For decades, scientists and doctors have treat...","For decades, scientists and doctors have trea...","Based on the provided text, I would rate the p...",-1.227152
6,6.0,https://www.nytimes.com/2019/12/31/dining/flex...,"For all of my adult life, I’ve reveled in rare...","For all of my adult life, I’ve reveled in rar...","Based on the provided text, I would rate the p...",-0.290707
7,7.0,https://www.nytimes.com/2020/08/29/opinion/sun...,"A year and a half ago, Jhon Loaiza and his wif...","A year and a half ago, Jhon Loaiza and his wi...","Based on the provided text, I would rate the p...",-1.227152
8,8.0,https://www.nytimes.com/2020/09/24/business/me...,A lawyer for the Doobie Brothers is demanding ...,A lawyer for the Doobie Brothers is demanding ...,I would rate this article as a 2 on the polari...,-0.290707
9,9.0,https://www.nytimes.com/2020/10/12/health/coro...,"On March 16, back when White House news confer...","On March 16, back when White House news confe...","Based on the provided text, I would rate the p...",-0.290707
10,10.0,https://www.nytimes.com/2020/08/17/climate/ala...,WASHINGTON — The Trump administration on Monda...,WASHINGTON — The Trump administration on Mond...,I would rate this article as a 4 on the polari...,1.582183
11,11.0,https://www.nytimes.com/2019/12/26/nyregion/cr...,"On a chilly fall morning in Red Hook, Brooklyn...","On a chilly fall morning in Red Hook, Brookly...","Based on the provided text, I would rate the p...",-0.290707
12,12.0,https://www.nytimes.com/2021/01/26/us/emergenc...,An emergency worker in Florida was arrested th...,An emergency worker in Florida was arrested th...,I would rate this article as a 2 on the polari...,-0.290707
13,13.0,https://www.nytimes.com/2021/03/20/world/new-y...,New York has joined a growing list of more tha...,New York has joined a growing list of more tha...,"Based on the provided text, I would rate the p...",-1.227152
14,14.0,https://www.nytimes.com/2021/03/30/business/ec...,WASHINGTON — President Biden intends to pay fo...,WASHINGTON — President Biden intends to pay f...,I would rate this article as a 3 on the polari...,0.645738
15,15.0,https://www.nytimes.com/2020/02/13/magazine/ar...,"I was 26 when I was sent to Vietnam, along wit...","I was 26 when I was sent to Vietnam, along wi...","Based on the provided text, I would rate the p...",-1.227152
16,16.0,https://www.nytimes.com/2020/07/26/movies/oliv...,"Olivia de Havilland, an actress who gained mov...","Olivia de Havilland, an actress who gained mo...",I would rate this article as a 2 on the polari...,-0.290707
17,17.0,https://www.nytimes.com/2019/01/17/books/mary-...,"Mary Oliver, the prolific and award-winning po...","Mary Oliver, the prolific and award-winning po...","Based on the provided text, I would rate the p...",-1.227152
18,18.0,https://www.nytimes.com/2020/11/12/nyregion/ca...,"About 30 miles north of Poughkeepsie, in the s...","About 30 miles north of Poughkeepsie, in the ...","Based on the provided text, I would rate the p...",-1.227152
19,19.0,https://www.nytimes.com/2020/09/07/opinion/sal...,Joe Biden tells us he is intent on winning in ...,Joe Biden tells us he is intent on winning in ...,"Based on the provided text, I would rate this ...",0.645738

In [51]:
df_polar[df_polar.gpt_number==-1].head()

Empty DataFrame
Columns: [id, link, full_text, sample_text, gpt_response, gpt_number]
Index: []

In [28]:
df_polar.loc[3220, 'gpt_response']

'Rating the polarization level of this article is not applicable as it consists of a collection of six-word stories submitted by various individuals. Each story is a personal reflection or observation, and they do not inherently express polarizing views or opinions.'

## polarization panel

In [55]:
panel=pd.read_csv('../../Data/new_dataset_20_05.csv')
df_polar=pd.read_csv('../../Data/Gpt/polarization_everything.csv')
panel=panel.merge(df_polar[['id', 'gpt_number']], on='id', how='left')
#panel.to_csv('../../Data/panel_polarization_full.csv', index=False)
panel.head()

/var/folders/_p/46_4dycn3bx7kbvft67tt6tw0000gn/T/ipykernel_54754/3246492953.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  panel=pd.read_csv('../../Data/new_dataset_20_05.csv')

,date_id,id,rank_emailed,rank_facebook,actual_date,print_section,print_page,pub_date,document_type,news_desk,...,LIWC_death,LIWC_informal,LIWC_swear,LIWC_netspeak,LIWC_assent,LIWC_nonflu,LIWC_filler,LIWC_AllPunc,t_after_release,gpt_number
0,1,158,7.0,0.0,2019-01-01,D,1.0,2018-12-31,article,Science,...,0.62,0.18,0.0,0.15,0.04,0.04,0.0,18.00,1,1.113960
1,1,343,0.0,12.0,2019-01-01,A,20.0,2018-12-30,article,Express,...,0.64,0.21,0.0,0.00,0.21,0.00,0.0,21.03,2,-1.227152
2,1,739,20.0,0.0,2019-01-01,SR,1.0,2018-12-28,article,OpEd,...,0.09,0.26,0.0,0.00,0.18,0.09,0.0,14.76,4,-1.227152
3,1,795,1.0,0.0,2019-01-01,D,5.0,2018-12-31,article,Science,...,0.00,0.33,0.0,0.17,0.08,0.17,0.0,15.56,1,-0.290707
4,1,994,0.0,15.0,2019-01-01,F,2.0,2018-12-28,multimedia,Opinion,...,0.60,0.00,0.0,0.00,0.00,0.00,0.0,11.70,4,1.582183

## Make 2019 panel with polarizatrion

In [89]:
panel=pd.read_csv('../../Data/new_dataset_20_05.csv')
df_polar=pd.read_csv('../../Data/Gpt/polarization_2019.csv')
panel_2019=panel[panel.actual_date<'2020-01-01'].copy()
panel_2019=panel_2019.merge(df_polar[['id', 'gpt_number']], on='id', how='left')
#panel_2019.to_csv('../../Data/panel_2019_polarization.csv', index=False)
panel_2019.head()

/var/folders/_p/46_4dycn3bx7kbvft67tt6tw0000gn/T/ipykernel_43508/3645433942.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  panel=pd.read_csv('../../Data/new_dataset_20_05.csv')

,date_id,id,rank_emailed,rank_facebook,actual_date,print_section,print_page,pub_date,document_type,news_desk,...,LIWC_death,LIWC_informal,LIWC_swear,LIWC_netspeak,LIWC_assent,LIWC_nonflu,LIWC_filler,LIWC_AllPunc,t_after_release,gpt_number
0,1,158,7.0,0.0,2019-01-01,D,1.0,2018-12-31,article,Science,...,0.62,0.18,0.0,0.15,0.04,0.04,0.0,18.00,1,3.5
1,1,343,0.0,12.0,2019-01-01,A,20.0,2018-12-30,article,Express,...,0.64,0.21,0.0,0.00,0.21,0.00,0.0,21.03,2,1.0
2,1,739,20.0,0.0,2019-01-01,SR,1.0,2018-12-28,article,OpEd,...,0.09,0.26,0.0,0.00,0.18,0.09,0.0,14.76,4,1.0
3,1,795,1.0,0.0,2019-01-01,D,5.0,2018-12-31,article,Science,...,0.00,0.33,0.0,0.17,0.08,0.17,0.0,15.56,1,2.0
4,1,994,0.0,15.0,2019-01-01,F,2.0,2018-12-28,multimedia,Opinion,...,0.60,0.00,0.0,0.00,0.00,0.00,0.0,11.70,4,4.0

In [61]:
panel=pd.read_csv('../../Data/new_dataset_20_05.csv')
df_leaning=pd.read_csv('../../Data/Gpt/leaning_2019.csv')
panel_2019=panel[panel.actual_date<'2020-01-01'].copy()
panel_2019=panel_2019.merge(df_leaning[['id', 'gpt_number', 'gpt_number_leaning']], on='id', how='left')
#panel_2019=panel_2019[~(panel_2019.gpt_number_leaning==-1)]
panel_2019['gpt_number_leaning']=abs(panel_2019['gpt_number_leaning']-3)
panel_2019['gpt_number_st']=(panel_2019['gpt_number']-panel_2019['gpt_number'].mean())/panel_2019['gpt_number'].std()
panel_2019['gpt_number_leaning_st']=(panel_2019['gpt_number_leaning']-panel_2019['gpt_number_leaning'].mean())/panel_2019['gpt_number_leaning'].std()


panel_2019.to_csv('../../Data/panel_2019_polarization_leaning.csv', index=False)
panel_2019.head()

/var/folders/_p/46_4dycn3bx7kbvft67tt6tw0000gn/T/ipykernel_33598/3385042933.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  panel=pd.read_csv('../../Data/new_dataset_20_05.csv')

,date_id,id,rank_emailed,rank_facebook,actual_date,print_section,print_page,pub_date,document_type,news_desk,...,LIWC_netspeak,LIWC_assent,LIWC_nonflu,LIWC_filler,LIWC_AllPunc,t_after_release,gpt_number,gpt_number_leaning,gpt_number_st,gpt_number_leaning_st
0,1,158,7.0,0.0,2019-01-01,D,1.0,2018-12-31,article,Science,...,0.15,0.04,0.04,0.0,18.00,1,3.5,0.0,1.053227,-0.592044
1,1,343,0.0,12.0,2019-01-01,A,20.0,2018-12-30,article,Express,...,0.00,0.21,0.00,0.0,21.03,2,1.0,0.0,-1.189628,-0.592044
2,1,739,20.0,0.0,2019-01-01,SR,1.0,2018-12-28,article,OpEd,...,0.00,0.18,0.09,0.0,14.76,4,1.0,0.0,-1.189628,-0.592044
3,1,795,1.0,0.0,2019-01-01,D,5.0,2018-12-31,article,Science,...,0.17,0.08,0.17,0.0,15.56,1,2.0,0.0,-0.292486,-0.592044
4,1,994,0.0,15.0,2019-01-01,F,2.0,2018-12-28,multimedia,Opinion,...,0.00,0.00,0.00,0.0,11.70,4,4.0,1.0,1.501798,1.394652

In [62]:
panel_2019.loc[:,['gpt_number', 'gpt_number_leaning']].corr()
panel_2019.loc[:,['gpt_number_st', 'gpt_number_leaning_st']].corr()

                       gpt_number_st  gpt_number_leaning_st
gpt_number_st                1.00000                0.57491
gpt_number_leaning_st        0.57491                1.00000